<div class="container">
	<div class="row">
		<div class="col-xs-3">

			<%= render 'users/profile', user: @user, book: @book %>

		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>

			<table class="table">
				<tr>
					<td>
						<%= link_to (@bookx.user) do %>
						<%= attachment_image_tag(@bookx.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @bookx.user.name %>
						<% end %>
					</td>
					<td><%= link_to @bookx.title, @bookx %></td>
					<td><%= @bookx.body %></td>
					<% if @user.id == current_user.id %>
					<td><%= link_to "Edit",edit_book_path(@bookx), class: "btn-sm btn-success edit_book_#{@bookx.id}" %></td>
					<td><%= link_to "Destroy",@books, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@bookx.id}" %></td>
					<% end %>
				</tr>
			</table>

		</div>
	</div>
</div>